[submodule "Catch2"]
	path = Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "eigen"]
	path = eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "pybind"]
	path = pybind
	url = https://github.com/pybind/pybind11.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
